.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #717171;
  padding: 16px;
  left: 0%;
  top: 0%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
      width: 500px;
      height: auto;
      top: 30%;
      left: calc(50% - 250px);
      border-radius: 4px;
  }
}