.AuthForm {
  margin: auto;
  padding: 10px;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;

  fieldset {
    border: none;
  }

  @media screen and (min-width: 600px) {
    width: 500px;
  }
}

.AuthFormLink {
  color: blue;
  text-decoration: none;
}
