.Input{
  padding: 10px 0;

}

.Label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  text-align: left;
  // font-weight: bold;
}

.InputElement {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 6px 10px;
  min-height: 36px;

  &:focus {
    outline: none;
    background-color: #ccc;
  }
}

.Invalid {
  border: 1px solid red;
}