.ContactData {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;

  @media screen and (min-width: 600px) {
    width: 500px;
  }
}

.Input {
  display: block;
  width: 100%;
}

.ErrorMessage {
  color: red;
  border: 1px solid red;
}